{% extends 'layout.html' %}

{%block main%}
<ol class="breadcrumb">
    <li><a href="/admin">后台首页</a></li>
    <li><span>分类信息</span></li>
</ol>
<h3>分类列表</h3>
{%include 'page.html'%}
<div class="table-responsive">
    <table class="table table-striped table-hover ">
        <tr >
            <th >用户ID</th>
            <th >分类名</th>
            <th >操作</th>
        </tr>
        {%for categorie in categories%}
        <tr>
            <th >{{categorie._id.toString()}}</th>
            <th >{{categorie.name}}</th>
            <th >
                <a href="/admin/category/edit?id={{categorie._id.toString()}}">修改</a> |
                <a href="/admin/category/delete?id={{categorie._id.toString()}}">删除</a>
            </th>
        </tr>
        {%endfor%}
    </table>

    {%include 'page.html'%}
</div>
{%endblock%}