{% extends 'layout.html' %}

{%block main%}
<ol class="breadcrumb">
    <li><a href="/admin">后台首页</a></li>
    <li><span>用户信息</span></li>
</ol>
<h3>用户列表</h3>
{%include 'page.html'%}
<div class="table-responsive">
    <table class="table table-striped table-hover ">
        <tr >
            <th >用户ID</th>
            <th >用户名</th>
            <th >密码</th>
            <th >是否是管理员</th>
        </tr>
        {%for user in users%}
        <tr>
            <th >{{user._id.toString()}}</th>
            <th >{{user.username}}</th>
            <th >{{user.password}}</th>
            <th >{% if user.isAdmin%}是{%endif%}</th>
        </tr>
        {%endfor%}
    </table>

    {%include 'page.html'%}
</div>
{%endblock%}